{% extends "Layout/master.html" %}
{% block title %}Đăng kí{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.Th_Ho_ten.label}}
                    {{form.Th_Ho_ten(class="form-control")}}

                    {% for mss in form.Th_Ho_ten.errors %}
                        <small id="Th_Ho_ten_msg" class="form-text text-muted">{{mss}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.Th_ten_dang_nhap.label}}
                    {{form.Th_ten_dang_nhap(class="form-control")}}

                    {% for mss in form.Th_ten_dang_nhap.errors %}
                        <small id="Th_ten_dang_nhap_msg" class="form-text text-muted">{{mss}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.Th_mat_khau.label}}
                    {{form.Th_mat_khau(class="form-control")}}

                    {% for mss in form.Th_mat_khau.errors %}
                        <small id="Th_mat_khau_msg" class="form-text text-muted">{{mss}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.Th_nhap_lai_mat_khau.label}}
                    {{form.Th_nhap_lai_mat_khau(class="form-control")}}

                    {% for mss in form.Th_nhap_lai_mat_khau.errors %}
                        <small id="Th_nhap_lai_mat_khau_msg" class="form-text text-muted">{{mss}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.Th_Phai.label}}
                    {{form.Th_Phai}}
                </div>
                <div class="form-group">
                    {{ form.Th_Ngay_sinh.label }}
                    {{ form.Th_Ngay_sinh(class="form-control", placeholder="Năm-Tháng-Ngày") }}
                </div>
                <div class="form-group">
                    {{ form.Th_Dia_chi.label }}
                    {{ form.Th_Dia_chi(class="form-control") }}

                    {% for mss in form.Th_Dia_chi.errors %}
                        <small id="Th_Dia_chi_msg" class="form-text text-muted">{{mss}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.Th_Dien_thoai.label }}
                    {{ form.Th_Dien_thoai(class="form-control") }}

                    {% for mss in form.Th_Dien_thoai.errors %}
                        <small id="Th_Dien_thoai_msg" class="form-text text-muted">{{mss}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.Th_Email.label }}
                    {{ form.Th_Email(class="form-control") }}

                    {% for mss in form.Th_Email.errors %}
                        <small id="Th_Email_msg" class="form-text text-muted">{{mss}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.Th_submit }}
                </div>
            </form>
            {{Thong_bao}}
        </div>
    </div>
</div>
{% endblock %}