{% extends "Layout/master.html" %}
{% block title %}Phụ kiện{% endblock %}
{% block content %}
<div class="feature">    
    <div class="breadcrumbs">
        <h4>Cáp, Sạc, Sạc dự phòng</h4>
    </div>

    <div class="container">
        {{Chuoi_HTML_Sac_cap}}
    </div>


    <div class="breadcrumbs">
        <h4>Ốp lưng</h4>
    </div>

    <div class="container">
        {{Chuoi_HTML_Op}}
    </div>


    <div class="breadcrumbs">
        <h4>Tai nghe, Loa</h4>
    </div>

    <div class="container">
        {{Chuoi_HTML_Tai_nghe}}
    </div>


    <div class="breadcrumbs">
        <h4>Khác</h4>
    </div>

    <div class="container">
        {{Chuoi_HTML_Khac}}	
    </div>
</div>
{% endblock %}