{% extends "Layout/master.html" %}
{% block title %}Danh sách sản phẩm{% endblock %}
{% block content %}
<div class="feature">
    <div class="breadcrumbs">
        <h3>Tìm kiếm: </h3>
        <form method="POST">
            <div class="box">
                <div class="container-3">
                    <input type="search" id="search" name="Th_Chuoi_Tim_kiem" placeholder="Nhập tên sản phẩm" />
                    <button class="icon"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="breadcrumbs">
        <h4>Tất cả sản phẩm</h4>
    </div>

    <div class="container">
        {{Chuoi_HTML_San_pham}}
    </div>
</div>
{% endblock %}