<header>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="/"><h1>M-Shop</h1></a>
                        </div>
                    </div>
                    <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="/quan-li/san-pham">Trang chủ</a></li>
                            <li role="presentation"><a href="/quan-li-hoa-don/da-thanh-toan">Hoá đơn đã thanh toán</a></li>
                            <li role="presentation"><a href="/quan-li-hoa-don/chua-thanh-toan">Hoá đơn chưa thanh toán</a></li>
                            <li role="presentation"><a href="/quan-li-hoa-don/da-huy">Hoá đơn huỷ</a></li>
                            <li role="presentation"><a href="/khach-hang/dang-xuat">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>			
            </nav>
        </div>
    </div>
</header>