<header>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="/"><h1>M-Shop</h1></a>
                        </div>
                    </div>
                    <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="/">Trang chủ</a></li>
                            <li role="presentation"><a href="/phone">Điện thoại</a></li>
                            <li role="presentation"><a href="/tablet">Máy tính bảng</a></li>
                            <li role="presentation"><a href="/phu-kien">Phụ kiện</a></li>
                            <li role="presentation"><a href="/khach-hang/gio-hang">Giỏ hàng</a></li>
                            <li role="presentation"><a href="/khach-hang">Người dùng</a></li>
                            <li role="presentation"><a href="/khach-hang/gui-mail-gop-y">Góp ý</a></li>
                        </ul>
                    </div>
                </div>			
            </nav>
        </div>
    </div>
</header>