<!DOCTYPE html>
<html lang="en">
    
        <title>{% block title %}{% endblock %}</title>
        <!--head-->
        {% include "Layout/head.html" %}

    <body>
        <!--Header-->
        {% include "Layout/header.html" %}

        <!--Content-->
        {% block content %}{% endblock %}

        <!--Footer-->
        {% include "Layout/footer.html" %}

        <!--Javascript-->
        {% include "Layout/javascript.html" %}
    </body>

</html>
<!--                  
    _/﹋\_                             _
    (҂`_´) -Pèng                   .__(.)< (MEOW)
    <,︻╦╤─ ҉ – – – – –             \___)   
    _/﹋\_                   ~~~~~~~~~~~~~~~~~~
-->
