{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}
{% block head_tail %}
{{ super() }}
<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
{% endblock %}
{% block page_body %}
<div class="container">
    {% block body %}
    <div class="row">
        <div>
            {% if current_user.is_authenticated %}
            <h1>Flask-Admin example</h1>
            <p class="lead">
                Authentication
            </p>
            <p>
                This example shows how you can use Flask-Login for authentication. It is only intended as a basic demonstration.
            </p>
            {% else %}
            <div class="container">
                <form class="form-signin" method="POST" action="">
                    {{ form.csrf_token }}
                    <h2 class="form-signin-heading">Thông tin đăng ký</h2>
                    <label for="last_name" class="sr-only">Họ</label>
                    {{form.last_name( class="form-control" ,placeholder="Nhập họ", required=true, autofocus=true)}}
                    <label for="first_name" class="sr-only">Tên</label>
                    {{form.first_name( class="form-control" ,placeholder="Nhập tên", required=true)}}

                    <label for="email" class="sr-only">Email</label>
                    {{form.email( class="form-control" ,placeholder="Email", required=true)}}

                    <label for="login" class="sr-only">Tên đăng nhập</label>
                    {{form.login( class="form-control" ,placeholder="Tên đăng nhập", required=true)}}

                    <label for="inputPassword" class="sr-only">Mật khẩu</label>
                    {{form.password(type='password', class="form-control" ,placeholder="Mật khẩu", required=true)}}

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng ký</button>
                </form>

            </div> <!-- /container -->
            {{ link | safe }}
            {% endif %}
        </div>

        <p style="text-align: center"><a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Quay lại</a></p>
    </div>
    {% endblock %}
</div>
{% endblock %}